.product {
    height: 3000px;
}

.productMainContainer {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap:4rem
}

.productMainImage {
    /* height: 500px; */
    width: 90%;
    object-fit: fill;
    /* max-height: 0px; */
}
.carousel .carousel-status{
    display: none!important;
}

.productMainLeft {
    flex: .5;
    display: flex;
    justify-content: flex-end;
}

.productMainRight {
    flex: .5;

}

.productVarientItem {
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.productAttributes {
    display: flex;
}

.size {
    border: 1px sold white !important;
}

.paymentImage {
    width: 15%;

    border-radius: 10px;
}

.paymentImagesContainer {
    display: flex;
}

.colorContainer {
    display: flex;
    /* justify-content: center; */
    cursor: pointer;
}

.active {
    border: 1px solid #fff;
    padding: 15px;
}

.quantityContainer {
    display: flex;
    border: 1px solid var(--white-color);
    width: 15%;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;

}

.quantityContainer:hover {
    cursor: pointer;
}
.description{

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}


.label{
    font-weight: bold;
    font-size: 20px;
}
.selectBox{
    display: flex;
    flex-direction: column;
}
.selectBox option{
    background: black;
    
    color:wheat
}
.select{
    width: 100px;
    margin: 1.3rem;
    background: transparent;
    color: wheat;
}
.select:focus-visible{
    outline: none;
}

.containerProduct{
    gap: 5rem;
    display: flex;
    justify-content: center;
    
}
