$h2-text-color: white;
$h1-text-color: white;
$welcome-bg-color: #020310;
.container {
  width: 100%;
  max-width: unset;
}
.welcome_box {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 80%;
    text-align: center;
  }
  .bold_heading {
    color: $h1-text-color;
    margin-bottom: 2rem;
  }
}
.row_box {
  height: 100vh;
  align-items: center;
  background-image: url("../../../assets/bg.jpg");
  background-size: cover;
  background-blend-mode: lighten;
}

@media screen and (min-width: 993px) {
  .container {
    padding-top: 0.225rem;
  }
}
