.container {
  width: 100%;
  max-width: unset;
  color: white;
}
.welcome_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  p.bodycopy {
    width: 60%;
    text-align: center;
    font-size: var(--para-sm);
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }
  .bold_heading {
    color: white;
    margin-bottom: 2rem;
    font-size: var(--heading-sm);
    font-weight: var(--heading-sm-wt);
  }
}
.row_box {
  // height: 80vh;
  align-items: center;
  background-image: url("../../../assets/Asset 4.png");
  background-size: cover;
  background-blend-mode: lighten;
}

@media screen and (min-width: 993px) {
  .container {
    padding-top: 0.225rem;
  }

  .welcome_box {
    padding: 3rem 0;
    p.bodycopy {
      width: 80%;
      text-align: center;
      font-size: var(--para-lg);
      margin-bottom: 1.2rem;
    }
    .bold_heading {
      font-size: var(--heading-lg);
      font-weight: var(--heading-sm-wt);
    }
  }
}
