@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&display=swap');


body {
    --darkBlue-color: #020310;
    --darkBlue-color-light: #01020b;
    --yellow-color: #FEE092;
    --bodyCopy: 16px;
    --heading-lg: 50px;
    --heading-sm: 24px;
    --heading-sm-wt: 500;
    --heading-lg-wt: 700;
    --track-heading-color: #8bb63e;
    --para-sm: 14px;
    --para-lg: 22px;
    --brown-color:rgb(206, 203, 203);
    --btn-border: 1.25rem;
    --white-color: #fff;
    --btn-padding: 5px 5px;


}

* {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}


.heading {
    font-size: var(--heading-lg);
    font-weight: bold;
    color: var(--white-color);
}
.dim {
    color: #81888f;
  }

  .mediumHeading{
    font-size: var(--para-sm);
    font-weight: 500;
  }
.subhheading{
    font-size: var(--heading-md);
    font-weight: bold;
}
.bodycopy {
    font-size: var(--bodyCopy);
    line-height: 20px;
    letter-spacing: 2px;
    border-radius: var(--btn-border);
}

.secondryBtn {
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    background-color: transparent;
    font-size: var(--bodyCopy);
    border-radius: var(--btn-border);
    padding: var(--btn-padding);
}

.para {
    line-height: 1.5rem;
    letter-spacing: 1px;

}

.whiteColor {
    color: var(--white-color);
}

.blackColorLayer {
    background: rgba(0, 0, 0, 0.6) !important;
}

.secondryBtn:hover {
    box-shadow: 0 0 100px rgba(219, 166, 46, .8);
    background-color: var(--yellow-color);
    color: var(--darkBlue-color);
}

.albumBtn {
    color: var(--darkBlue-color);
    border: none;
    background-color: var(--yellow-color);
    font-size: var(--bodyCopy);
    border-radius: var(--btn-border);
    padding: var(--btn-padding);
}

.albumBtn:hover,.albumBtn:active,.albumBtn:focus-within {
    border: transparent !important;
    color: black !important;
    box-shadow: 0 0 100px rgba(219, 166, 46, .8) !important;
    background: var(--yellow-color) !important;

}
.albumBtn:hover{
   
    font-weight: bold !important;
}


.boldName {
    font-size: var(--para-lg);
    font-weight: var(--heading-lg-wt);
    text-transform: uppercase;
}



@media screen and (min-width:993px) {
    .albumBtn {
        width: 120px;
        font-size: var(--para-sm);
        margin-top: 1rem;
    }
}