@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&display=swap');


body {
    --darkBlue-color: #020310;
    --yellow-color: #FEE092;
    --bodyCopy: 16px;
    --heading-lg: 50px;
    --heading-sm: 24px;
    --heading-sm-wt: 500;
    --heading-lg-wt: 700;
    --track-heading-color: #8bb63e;
    --para-sm: 14px;
    --para-lg: 22px;
    --btn-border: 1.25rem;
    --white-color: #fff;
    --btn-padding: 5px 5px;
    --btn-font: 16px;
    --btn-height: 50px;
    --btn-width: 100px;
    --heading-md: 20px
}

* {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}


.heading {
    font-size: var(--heading-lg);
    font-weight: bold;
    color: var(--white-color);
}

.dim {
    color: #81888f;
}

.mediumHeading {
    font-size: var(--para-sm);
    font-weight: 500;
}

.subhheading {
    font-size: var(--heading-md);
    font-weight: bold;
}

.bodycopy {
    font-size: var(--bodyCopy);
    line-height: 20px;
    letter-spacing: 2px;
    border-radius: var(--btn-border);
}

.secondryBtn {
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    background-color: transparent;
    font-size: var(--btn-font) !important;
    border-radius: var(--btn-border);
    padding: var(--btn-padding);
    height: var(--btn-height);
    width: var(--btn-width);
}

.para {
    line-height: 1.5rem;
    letter-spacing: 1px;

}

.whiteColor {
    color: var(--white-color);
}

.blackColorLayer {
    background: rgba(0, 0, 0, 0.6) !important;
}

.secondryBtn:hover {
    box-shadow: 0 0 100px rgba(219, 166, 46, .8);
    background-color: var(--yellow-color);
    color: var(--darkBlue-color);
}

.albumBtn {
    color: var(--darkBlue-color);
    border: none;
    background-color: var(--yellow-color);
    font-size: var(--btn-font) !important;
    border-radius: var(--btn-border);
    padding: var(--btn-padding) !important;
    height: var(--btn-height);
    width: var(--btn-width);
}

.albumBtn:hover {
    border: transparent;
    font-weight: bold;
    box-shadow: 0 0 100px rgba(219, 166, 46, .8);


}

.boldName {
    font-size: var(--para-lg);
    font-weight: var(--heading-lg-wt);
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

@media screen and (min-width:993px) {
    .albumBtn {
        width: 120px;
        font-size: var(--para-sm);
        margin-top: 1rem;
    }
}

.marginTop {
    margin-top: 5%;
}

.marginLeft {
    margin-left: 5%;
}

.disabled {
    color: #6d6d6d;
}

.disabled:hover {
    box-shadow: none !important;
    font-weight: normal !important;

}