@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Poppins:wght@200;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');


.osward {
    font-family: "Oswald", sans-serif !important;
}

body {
    --darkBlue-color: #020310;
    --darkBlue-color-light: #01020b;
    --yellow-color: #FEE092;
    --bodyCopy: 14px;
    --heading-lg: 50px;
    --heading-sm: 24px;
    --heading-sm-wt: 300;
    --heading-lg-wt: 700;
    --track-heading-color: #8bb63e;
    --para-sm: 14px;
    --para-lg: 22px;
    --brown-color: rgb(206, 203, 203);
    --btn-border: .25rem;
    --white-color: #fff;
    --btn-padding: 10px 5px;
    --btn-font: 14px;
    --btn-height: 50px;
    --btn-width: 100px;
    --heading-md: 20px
}

* {
    font-family: "Oswald", sans-serif !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.heading {
    font-size: var(--heading-lg);
    font-weight: bold;
    color: var(--white-color);
}

.dim {
    color: #81888f;
}

.mediumHeading {
    font-size: var(--para-sm);
    font-weight: 500;
}

.footermenu:hover {
    cursor: pointer;
}

.compiledBy {
    display: flex;
    width: 50%;
    align-items: center;
}

.subhheading {
    font-size: var(--heading-md);
    font-weight: bold;
}

.bodycopy {
    font-size: var(--bodyCopy);
    line-height: 20px;
    letter-spacing: 1px;
    border-radius: var(--btn-border);
}

.secondryBtn {
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    background-color: transparent;
    font-size: var(--btn-font) !important;
    border-radius: var(--btn-border);
    padding: var(--btn-padding);
    font-family: 'Poppins', cursive;
    /* height: var(--btn-height);
    width: var(--btn-width); */
}

.para {
    line-height: 1.6rem;
    letter-spacing: 1.2px;
    font-family: 'Poppins', sans-serif;
}

.whiteColor {
    color: var(--white-color);
}

.blackColorLayer {
    background: rgba(0, 0, 0, 0.6) !important;
}

.secondryBtn:hover {
    box-shadow: 0 0 100px rgba(219, 166, 46, .8);
    background-color: var(--yellow-color);
    color: var(--darkBlue-color);
    transition: 200ms;
}

.albumBtn {
    color: var(--darkBlue-color);
    border-radius: var(--btn-border);
    background-color: var(--yellow-color);
    font-size: var(--btn-font) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--btn-padding) !important;
    border: 1px solid var(--yellow-color) !important;
    font-family: "Poppins";
    /* height: var(--btn-height);
    width: var(--btn-width); */
}

.albumBtn:hover,
.albumBtn:active,
.albumBtn:focus-within {
    border: transparent !important;
    color: black !important;
    box-shadow: 0 0 100px rgba(219, 166, 46, .8) !important;
    background: var(--yellow-color) !important;

}

.albumBtn:hover {
    /* font-weight: bold !important; */
    cursor: pointer;
    color: var(--yellow-color) !important;
    border: 1px solid var(--yellow-color) !important;
    background-color: transparent !important;
    transition: 200ms;
}


.boldName {
    font-size: var(--para-lg);
    font-weight: var(--heading-lg-wt);
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

@media screen and (min-width:993px) {
    .albumBtn {
        width: 120px;
        font-size: var(--para-sm);
        margin-top: 1rem;
    }
}

.marginTop {
    margin-top: 5%;
}

a {
    color: var(--white-color)
}

a:hover {
    color: var(--yellow-color);
}

.marginLeft {
    margin-left: 5%;
}

.disabled {
    color: #6d6d6d;
}

.disabled:hover {
    box-shadow: none !important;
    font-weight: normal !important;

}

.inputContainer {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.inputItem {
    /* width: 50%; */
    margin-top: 10px;
    height: 30px;
}

.inputItemContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 20px;
}

.hide {
    display: hide;
}



/* product card */
.productImage {
    max-width: 360px;
    border-radius: 20px !important;
    max-height: 400px;
    object-fit: cover;
  
  }
  
  .productImage:hover {
    transform: scale(1.1);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .shop {
    padding: 0px 0px 100px 0px;
}
.shopHeroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
  }

  @media screen and (min-width: 600px) {
    .shopBox {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.425rem;
      justify-content: center;
      
    }
    .shopBox div {
        width: 30%;
      }
  }

  



.productItemContainerHeader {
    object-fit: contain;
    position: relative;
}

.productContainer {
    justify-content: center !important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* padding: 10%; */
}

.productItemContainer:hover {
    /* border: 1px solid #1a1a1a; */
    border-radius: 20px;
    box-shadow: 0 0 200px rgba(0, 0, 0, .5);
    cursor: pointer;

}

.btnContainter {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.productItemContainerFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center !important;
    margin-top: 1.5rem;
}


.notify-badge {
    position: absolute;
    right: -20px;
    top: 10px;
    background: red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}


@media screen and (min-width: 993px) {
    .productContainer {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
    }
}